# Docker compose variables
# ========================
COMPOSE_DB_PORT=5400

# Set this to absolute path to your repository
# in host to be able to mount volumes in devcontainer.
# In WSL it is under /mnt/c/... if the repo is cloned on Windows host.
REPO_DIR=

# Database variables
# ========================
DB_ADMIN_USER=admin
DB_ADMIN_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5400
DB_NAME=pinta
DB_JOB_TEMPLATE_NAME=job_template

DB_OWNER_ROLE=pinta_owner
DB_WRITER_ROLE=pinta_writer
DB_READER_ROLE=pinta_reader
DB_PROCESSING_WORKER_ROLE=pinta_processing_worker

DB_EDITOR_USER=qgis_editor
DB_VIEWER_USER=qgis_viewer
DB_EDITOR_PASSWORD=qgis
DB_VIEWER_PASSWORD=qgis

DB_PROCESSING_WORKER_USER=processing_worker
DB_PROCESSING_WORKER_PASSWORD=processing_worker

DB_SRID=3067

DB_DEM_PIXEL_SIZE=2
DB_DEM_NODATA=-9999

# Plugin variables
# ========================
# -- qgis-plugin-dev-tools --
QGIS_EXECUTABLE_PATH=/usr/bin/qgis # path to qgis-bin/qgis-bin-ltr
# DEBUGGER_LIBRARY= # debugpy/pydevd to start a debugger on init, library must be installed to the environment
# DEVELOPMENT_PROFILE_NAME= # name of the profile that qgis is launched with, otherwise uses defaul

# -- QGIS environment variabled --
# QGIS_LOCALE=fi
QGIS_GLOBAL_SETTINGS_FILE=components/qgis_plugin/settings.ini


# -- Pinta variables --
# Path to a custom background layer config.
#  See default one here: components/qgis_plugin/src/pinta_qgis_plugin/resources/layer_config/background_layer_config.json
# PINTA_BASE_MAP_LAYER_CONFIG=

# Initial project extent rectangle provided in DB_SRID crs
PINTA_INITIAL_PROJECT_EXTENT=-67734,6570084,843161,7879314

PINTA_DEVELOPMENT_MODE=true
