# Docker compose variables
# ========================
COMPOSE_DB_PORT=5400

# Set this to absolute path to your repository
# in host to be able to mount volumes in devcontainer.
# In WSL it is under /mnt/c/... if the repo is cloned on Windows host.
REPO_DIR=

# Database variables
# ========================
DB_ADMIN_USER=admin
DB_ADMIN_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5400
DB_NAME=pinta

DB_OWNER_ROLE=pinta_owner
DB_WRITER_ROLE=pinta_writer
DB_READER_ROLE=pinta_reader

DB_EDITOR_USER=qgis_editor
DB_VIEWER_USER=qgis_viewer
DB_EDITOR_PASSWORD=qgis
DB_VIEWER_PASSWORD=qgis

DB_PROCESSING_WORKER_USER=processing_worker
DB_PROCESSING_WORKER_PASSWORD=processing_worker

DB_SRID=3067

# Plugin variables
# ========================
QGIS_EXECUTABLE_PATH=/usr/bin/qgis # path to qgis-bin/qgis-bin-ltr
# DEBUGGER_LIBRARY= # debugpy/pydevd to start a debugger on init, library must be installed to the environment
# DEVELOPMENT_PROFILE_NAME= # name of the profile that qgis is launched with, otherwise uses defaul

# QGIS_LOCALE=fi
PINTA_DB_HOST=localhost
PINTA_DB_PORT=5400
PINTA_DB_NAME=pinta
PINTA_DB_EDITOR_USER=qgis_editor
PINTA_DB_EDITOR_PASSWORD=qgis
