__pycache__
*.egg-info

# virtual environments
.venv

# env file
.env
.vault

# IDE
.vscode
.idea
# But not .vscode inside components/
!components/**/.vscode

# Cloud Optimized Point Cloud files inside test_data
test_data/**/*.copc.laz
/components/dags/.airflow/
